.thread {
    /*position: center;*/
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
    background-color: linen;
    overflow: auto;
    color: black;
    font-size: 10px;
    font-family: "Arial Black";

}

.public_thread {
    position: absolute;
    top: 39%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*display: inline-flex;*/
    /*flex-direction: column;*/
    justify-content: center;
    background-color: linen;
    border: solid black 1px;
    width: 534px;
    height: 110px;
    overflow: auto;
}

.private_thread {
    position: absolute;
    top: 61%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*display: inline-flex;*/
    /*flex-direction: column;*/
    justify-content: center;
    background-color: linen;
    border: solid black 1px;
    width: 534px;
    height: 110px;
    overflow: auto;
}

.thread__btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 15px;
    align-items: center;
    min-width: 35px;
    padding: 5px;
    margin-bottom: 10px;
    background: transparent;
    color: seagreen;
    font-size: 9px;
    font-family: "Arial Black";
    border: none;
    border-radius: 2px;
}
.thread__btn2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 10px;
    align-items: center;
    min-width: 20px;
    padding: 0px;
    margin-bottom: 1px;
    margin-top: 3px;
    background: transparent;
    color: seagreen;
    font-size: 10px;
    font-family: "Arial Black";
    border: none;
    border-radius: 2px;
}




