.pubHdr1 {

    display: inline-flex;
    position: absolute;
    justify-content: stretch;
    top: 28%;
    left: 52%;
}

.privHdr1{

    display: inline-flex;
    position: absolute;
    justify-content: stretch;
    top: 66.5%;
    left: 36%;
}