
.message_form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-flex;
    justify-content: right;
}

.message_input {

    min-width: 30px;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    outline: none;
    border: 1px solid;
    border-radius: 2px;
    font-size:10px;
    font-family: "Arial Black";
}

.message_button {
    min-width: 145px;
    padding: 15px 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: seagreen;
    /*border: 1px color();*/
    color: azure;
    font-size: 14px;
    font-family: "Arial Black";
    border-radius: 2px;
}