
.message_form {

    display: flex;
    justify-content: right;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.message_input {

    min-width: 380px;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    outline: none;
    border: 1px solid;
    border-radius: 2px;
    font-size:11px;
    font-family: "Arial Black";
}

.message_button {
    min-width: 145px;
    padding: 15px 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: seagreen;
    /*border: 1px color();*/
    color: azure;
    font-size: 14px;
    font-family: "Arial Black";
    border-radius: 2px;
}

.leaveChat {
    position: absolute;
    top: 0%;
    left: 91.75%;

}

.leaveChat_btn {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    height: 0px;
    align-items: center;
    min-width: 35px;
    padding: 10px;
    margin-bottom: 0px;
    background: darkseagreen;
    color: azure;
    font-size: 14px;
    font-family: "Arial Black";
    border: none;
    border-radius: 1px;
}