/*.login {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    height: 100vh;*/
/*    align-items: center;*/
/*    font-family: "Inter";*/
/*}*/

.login__form {
    display: flex;
    flex-direction: row;
}

.login__input {
    min-width: 30px;
    padding: 20px;
    margin-bottom: 10px;
    outline: none;
    border: 1px solid;
    border-radius: 2px;
    font-size:10px;
    font-family: "Arial Black";
}

.login__btn {
    min-width: 145px;
    padding: 16px 30px;
    margin-bottom: 10px;
    background: darkseagreen;
    border: 1px solid black;
    color: azure;
    font-size: 14px;
    font-family: "Arial Black";
    border-radius: 2px;
}

.regiMessage {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 59%;
    left: 50%;
    font-family: "Arial Black";
    font-size:15px;
}